* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  text-align: center;
  margin: 50px;
}

.card h2 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 200px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  position: relative;
  padding: 20px;
}

.vote {
  position: absolute;
  top: -5px;
  right: 30px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 2rem;
  color: white;
}

.vote i {
  font-size: 0.8rem;
  margin-left: 5px;
}

.card ul {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

